{% extends 'editor/base.html' %}

{% block 'container' %}

<div class="container-fluid">
    <div class="row text-center pt-2">
        <div class="col">
            <h1>CHANGE PASSWORD FORM</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6 ml-auto mr-auto border border-primary">
            <strong>{{ error }}</strong>
            <form method="POST" action="{% url 'echangepass' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="c">Current Password</label>
                    <input type="password" id="c" name="pass" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="np">New Password</label>
                    <input type="password" id="np" name="pass1" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="cp">Conform Password</label>
                    <input type="password" id="cp" name="pass2" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}