{% extends 'publisher/base.html' %}

{% block 'container' %}

<div class="container">
    <div class="row pt-2 text-center">
        <div class="col">
            <h2>{{ n.title }}</h2>
            {% if n.image.url is not None %}
            <img src="{{ n.image.url }}" height="50"><br/>
            Image Source : {{ n.img_source }}
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            Editor : {{ n.epub_date }}<br/>
            Editor Name : {{ n.editor_detail.fullname }}
            {% if n.ppub_date is not None %}
            <br/>
            Publisher : {{ n.ppub_date }}
            {% endif %}
        </div>
        {% if n.pub_status == False %}
        <div class="col text-right">
            <a href="{% url 'apubnews' n.id %}"><button class="btn btn-primary">Publish</button></a>
            <a href="{% url 'adelnews' n.id %}"><button class="btn btn-danger">Delete</button></a>
        </div>
        {% endif %}
    </div>
    <div class="row text-justify">
        <div class="col">
            {{ n.body }}
        </div>
    </div>
    <hr>
    {% for nc, ccl in data %}
    <div class="row">
        <b>{{ nc.surfer_detail.fullname }}</b><br/>
        {{ nc.comment }}
    </div>
    <div class="container">
        {% for cc in ccl %}
        <b>{{ cc.surfer_detail.fullname }}</b><br/>
        {{ cc.comment }}
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}