{% extends 'publisher/base.html' %}

{% block 'container' %}

<div class="container-fluid">
    <div class="row text-center pt-2">
        <div class="col">
            <h1>PUBLISHED NEWS</h1>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-2">
            <a href="{% url 'apub' %}">All News</a><hr>
            <a href="{% url 'apubcat' 'Politics' %}">Politics</a><hr>
            <a href="{% url 'apubcat' 'Entertainment' %}">Entertainment</a><hr>
            <a href="{% url 'apubcat' 'Sports' %}">Sports</a><hr>
            <a href="{% url 'apubcat' 'Business' %}">Business</a>
        </div>
        <div class="col">
            {% for n in nl %}
            <a href="{% url 'adetnews' n.id %}"><h3>{{ n.title }}</h3></a><br/>
            <div class="row">
                <div class="col-9">
                    Editor : {{ n.editor_detail.fullname }}<br/>
                    {{ n.summary }}
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class="col-3">
            <a href="{% url 'apub' %}">Today</a><hr/>
            <form method="POST" action="{% url 'apub' %}">
                {% csrf_token %}
                <input type="date" name="dat" placeholder="Search By Date" required>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}