{% extends 'publisher/base.html' %}

{% block 'container' %}

<div class="container-fluid">
    <div class="row text-center">
        <div class="col">
            <h2>Search Result</h2>
        </div>
    </div>
    <form method="POST" action="{% url 'asearch' %}">
        {% csrf_token %}
        <input type="text" name="s" class="form-control" required>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <hr>
    {% for n in nl %}
    <a href="{% url 'adetnews' n.id %}"><b>{{ n.title }}</b></a><br/>
    {{ n.ppub_day }}<br/>
    {{ n.summary }}
    {% endfor %}
</div>

{% endblock %}